<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meet The Team</title>
    <link rel="stylesheet" href="/static/newStyles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title_bar">
              <!-- logo -->
              <img src="/static/Icons/Logo.png" alt="Logo" class="sidebar-logo">
      <h4 class="title_text">Meet The Team</h4> <img src="/static/Icons/fav.png" alt="o" class="ologo"><img src="/static/Icons/oswego.png" alt="osw" class="osw-logo">
    </div>
    <div class="main_body">
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Dan.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Daniel Maslowski</h4>
          <!-- <h4 class="grade_level_text">Senior Computer Science Major</h4> -->
          <div class="visit_website_text">
            <strong>Visit My Website: </strong>
            <span
              ><a href="https://danpmas.github.io/"
                >https://danpmas.github.io/</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:dpmaslowski@gmail.com">dpmaslowski@gmail.com</a></span>
          </div>
        </div>
        <div>
          <img
            src="/static/Icons/ProfilePic_Duncan.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Duncan Zaug</h4>
          <!-- <h4 class="grade_level_text">Junior Computer Science Major</h4> -->
          <div class="visit_website_text">
            <strong>Visit My Github: </strong>
            <span
              ><a href="https://github.com/Offhornet28/Duncan-College-Projects"
                >github.com/Offhornet28</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
              <span> <a href="mailto:zaugboys@gmail.com">zaugboys@gmail.com</a></span>
          </div>
        </div>
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Thomas.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Thomas Marten</h4>
          <!-- <h4 class="grade_level_text">Junior Computer Science Major</h4> -->
          <div class="visit_website_text">
            <strong>Visit My Github: </strong>
            <span
              ><a href="https://github.com/Tomicgun/Portfolio"
                >github.com/Portfolio</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:marten.j.th@gmail.com">marten.j.th@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Justyce.png"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Justyce Countryman</h4>
          <!-- <h4 class="grade_level_text">Senior Computer Science Major</h4> -->
          <div class="visit_website_text">
            <strong>Visit My Website: </strong>
            <span
              ><a
                href="https://lljustycell999.github.io/JustyceCountryman.github.io/"
                >JustyceCountryman.github.io/</a
              ></span>
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:countrymanjustyce2002@gmail.com">countrymanjustyce2002@gmail.com</a></span>
              </div>
            </div>
            <div class="image_holder">
              <img
                src="/static/Icons/LinkedInProfilePic.jpeg"
                alt="Image of author"
                class="image_template"
              />
            </div>
            <div class="author_text_block">
              <h4 class="author_name">Timothy Dube</h4>
              <!-- <h4 class="grade_level_text">Junior Computer Science Major</h4> -->
              <div class="visit_website_text">
                <strong>Visit My Website: </strong>
                <span
                  ><a href="https://timmydube.vercel.app/" target="_blank"
                    >https://timmydube.vercel.app/</a
                  ></span>
              </div>
              <div class="contact_me_text">
                <strong>Contact Me: </strong>
                <span> <a href="mailto:timdube0@gmail.com">timdube0@gmail.com</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="author_block">
          <h4 class="ext">We would like to thank Professor Dr. Katelyn Barber, Professor Dr. Shashi Kanbur,
            and NASA Scientist Dr. Jie Gong for their guidance and mentoring through this project. </h4>
        </div>
      </body>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var links = document.querySelectorAll('body a');
            links.forEach(function(link) {
                link.setAttribute('target', '_blank');
            });
        });
    </script>
    </html>



