<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gravity Wave Analysis Tool</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="sidebar">
        <!-- logo -->
        <img src="/static/Icons/Logo.png" alt="Logo" class="sidebar-logo">
    <h1 class="sidebar-title">Gravity Waves Analysis Tool</h1>
    <!-- hidden file input -->
    <input type="file" id="fileUpload" accept=".txt" style="display:none;">
    <!-- buttons -->
    <div id="uploadTextFile" class="button">
        <img src="/static/Icons/UploadIcon.png" alt="Upload">
        <span>Upload File</span>
    </div>
    
    <div id="viewPDF" class="button">
        <img src="/static/Icons/ViewPDFIcon.png" alt="Preview">
        <span>Preview PDF</span>
    </div>
    
    <div id="downloadPDF" class="button">
        <img src="/static/Icons/DownloadPDFIcon.png" alt="Download">
        <span>Download PDF</span>
    </div>
        <!-- author page-->
        <a href="/authors" class=" button">
            <img src="/static/Icons/AuthorIcon.png" alt="Authors Page">
            <span>Authors Page</span>
        </a>
        <div class="button-group">
        <div id="github" class="button">
        <a href="https://github.com/Tomicgun/Gravity-Waves-Analysis-Tool">
            <img src="/static/Icons/Github.png" alt="GitHub"></a><span>GitHub Repository</span>
        </div>
        <div id="troubleshoot" class="button">
            <a href="/troubleshoot">
                <img src="/static/Icons/troubleshoot.png" alt="Files We Support"></a><span>Files We Support</span>
            </div>
    </div>

</div>
<!-- loading image -->
<div id="loadingImage" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="/static/Icons/loading.png" alt="Loading">
</div>


<div class="content">
    <!-- content to the right of sidebar -->
    <div class="content">
        <iframe id="pdfViewer" style="width:100%; height:100%; border:none;"></iframe>
    </div>
    
</div>

<script src="/static/script.js"></script>

</body>
</html>



