body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #163752;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(101, 146, 230, 0.221);
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    /* justify-content: center; center vertically */
    gap: 10px;
    overflow: scroll;
}

.sidebar-logo {
    width: 300px;
    height: auto;
    margin-bottom: -80px; /* space below the logo */
    margin-top: -90px;
}

.content {
    margin-left: 150px; /* accommodate sidebar width */
    height: calc(100% - 40px);
    padding: 20px;
    overflow: auto; /* added scrollbars */
}

input[type="file"] {
    margin-bottom: 10px;
}

.sidebar-title {
    color: #fdfdfd;
    text-align: center;
    margin-bottom: 20px; /* space between title and first button */
    font-size: 32px;
    width: 100%;
    word-wrap: break-word; /* prevent title from overflowing */
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add shadow around title */
}

.button {
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center;
    justify-content: center;
    gap: 5px; /* space between icon and text */
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #163752;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none; /* since <a> tags instead of <div> */
}

.button img {
    width: 55px; /* icon size */
    height: auto;
}

.button span {
    display: inline-block;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}

.button.author-button {
    margin-top: 80px;
}

.button-group {
    display: flex;
    flex-direction: row; /* align side-by-side */
    justify-content: space-between;
    width: 100%; /* full width of sidebar */
    gap: 10px; /* space between buttons */
}



